{% extends "admin/base.html" %}

{% block title %}
	Admin Add item - Shop
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}
		<div id="add" class="add">
				<form class="form" action="{{ current_url }}" method="POST" enctype="multipart/form-data">
					{% if edit %}
						<b>edit Item</b>
					{% else %}
						<b>add Item</b>
					{% endif %}					
					<p class="fieldset">
						<input class="full-width has-padding has-border" id="name" name="name" placeholder="Name" value="{{item[1] | safe}}" required>
						
					</p>
					<p class="fieldset">
						<input class="full-width has-padding has-border" id="price" name="price" placeholder="Price"  step="0.01" value="{{item[2]}}" required>
					</p>
					<p class="fieldset">
						<input class="full-width has-padding has-border" id="category" name="category" placeholder="Category" value="{{item[3]}}" required>
					</p>
					<p class="fieldset">
						<input class="full-width has-padding has-border" id="image" name="image" placeholder="Category" type="file" required>
					</p>
					
					<p class="fieldset">
						<textarea class="full-width has-padding has-border" id="details" name="details" placeholder="Details" >{{item[5] | safe}}</textarea>
					</p>
					
					<p class="fieldset">
						<input class="full-width has-padding has-border" id="price_id" name="price_id" placeholder="Price-id" value="{{item[6]}}" required>
					</p>
					<p class="fieldset">
						<input class="full-width" type="submit" >
					</p>
				</form>
			</div>
    
{% endblock %}